{% liquid
  comment
    if section.settings.menu != blank
      if section.settings.menu_type_desktop == 'dropdown'
        render 'header-dropdown-menu'
      elsif section.settings.menu_type_desktop != 'drawer'
        render 'header-mega-menu'
      endif
    endif
  endcomment
  assign details_design = 'position: absolute;left: 100%;background: rgb(var(--color-background));top: 0;width: max-content;border: 1px solid;'
  assign details_position = 'padding: 0 3rem;position: relative;'
  assign details_single_link = 'padding: 20px 3rem;padding-bottom: 0;'
%}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'list_menu' %}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ block.id }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                  style="font-size: 2.1rem;"
                >
                  {{- block.settings.menu_title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {% for link in block.settings.menu.links %}
                  {%- if link.links != blank -%}
                    <details
                      style="padding: 0 10px;position: relative;"
                      id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}"
                    >
                      <summary
                        id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}"
                        class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                      >
                        <span>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul
                        style="{{ details_design }}"
                        id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}"
                        class="header__submenu list-menu motion-reduce"
                      >
                        {%- for childlink in link.links -%}
                          {%- if childlink.links != blank -%}
                            <details
                              style="padding: 0 10px;position: relative;"
                              id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                            >
                              <summary
                                id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                              >
                                <span>{{ childlink.title | escape }}</span>
                                {% render 'icon-caret' %}
                              </summary>
                              <ul
                                style="{{ details_design }}"
                                id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                class="header__submenu list-menu motion-reduce"
                              >
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a
                                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                      href="{{ grandchildlink.url }}"
                                      class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                      {% if grandchildlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </details>
                          {% else %}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                href="{{ childlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            </li>
                          {% endif %}
                        {%- endfor -%}
                      </ul>
                    </details>
                  {% else %}
                    <a
                      id="HeaderMenu-{{ link.handle }}"
                      href="{{ link.url }}"
                      style="padding: 10px 3rem;"
                      class="header__menu-item list-menu__item link link--text focus-inset"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      <span
                        {%- if link.current %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{- link.title | escape -}}
                      </span>
                    </a>
                  {% endif %}
                {% endfor %}
              </ul>
            </details>
          </header-menu>
        {% when 'mega_menu' %}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ forloop.index }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                  style="font-size: 2.1rem;"
                >
                  {{- block.settings.menu_title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list"
                  role="list"
                >
                  <li>
                    <span
                      id="HeaderMenu-{{ forloop.index }}-1"
                      class="mega-menu__link mega-menu__link--level-2 link"
                    >
                      {{ block.settings.first_linklist_title | escape }}
                    </span>
                    <ul class="list-unstyled" role="list">
                      {% for link in block.settings.first_menu.links %}
                        {%- if link.links != blank -%}
                          <details
                            style="{{ details_position }}"
                            id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}"
                          >
                            <summary
                              style="padding-left: 0;padding-bottom: 0px;padding-top: 0px;margin-top: 20px;"
                              id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}"
                              class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                            >
                              <span>{{ link.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <ul
                              style="{{ details_design }}"
                              id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}"
                              class="header__submenu list-menu motion-reduce"
                            >
                              {%- for childlink in link.links -%}
                                {%- if childlink.links != blank -%}
                                  <details
                                    style="{{ details_position }}"
                                    id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                  >
                                    <summary
                                      id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                      class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                                    >
                                      <span>{{ childlink.title | escape }}</span>
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <ul
                                      style="{{ details_design }}"
                                      id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                      class="header__submenu list-menu motion-reduce"
                                    >
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a
                                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                            href="{{ grandchildlink.url }}"
                                            class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </details>
                                {% else %}
                                  <li>
                                    <a
                                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  </li>
                                {% endif %}
                              {%- endfor -%}
                            </ul>
                          </details>
                        {% else %}
                          <a
                            style="{{ details_single_link }}"
                            id="HeaderMenu-{{ link.handle }}"
                            href="{{ link.url }}"
                            class="header__menu-item list-menu__item link link--text focus-inset"
                            {% if link.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            <span
                              {%- if link.current %}
                                class="header__active-menu-item"
                              {% endif %}
                            >
                              {{- link.title | escape -}}
                            </span>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>

                  <li>
                    <span
                      id="HeaderMenu-{{ forloop.index }}-2"
                      class="mega-menu__link mega-menu__link--level-2 link"
                    >
                      {{ block.settings.second_linklist_title | escape }}
                    </span>
                    <ul class="list-unstyled" role="list">
                      {% for link in block.settings.second_menu.links %}
                        {%- if link.links != blank -%}
                          <details
                            style="{{ details_position }}"
                            id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}"
                          >
                            <summary
                              style="padding-left: 0;padding-bottom: 0px;padding-top: 0px;margin-top: 20px;"
                              id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}"
                              class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                            >
                              <span>{{ link.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <ul
                              style="{{ details_design }}"
                              id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}"
                              class="header__submenu list-menu motion-reduce"
                            >
                              {%- for childlink in link.links -%}
                                {%- if childlink.links != blank -%}
                                  <details
                                    style="{{ details_position }}"
                                    id="Details-HeaderSubMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                  >
                                    <summary
                                      id="HeaderMenu-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                      class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                                    >
                                      <span>{{ childlink.title | escape }}</span>
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <ul
                                      style="{{ details_design }}"
                                      id="HeaderMenu-SubMenuList-{{ forloop.index }}-{{ link.handle }}-{{ childlink.handle }}"
                                      class="header__submenu list-menu motion-reduce"
                                    >
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a
                                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                            href="{{ grandchildlink.url }}"
                                            class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </details>
                                {% else %}
                                  <li>
                                    <a
                                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  </li>
                                {% endif %}
                              {%- endfor -%}
                            </ul>
                          </details>
                        {% else %}
                          <a
                            style="{{ details_single_link }}"
                            id="HeaderMenu-{{ link.handle }}"
                            href="{{ link.url }}"
                            class="header__menu-item list-menu__item link link--text focus-inset"
                            {% if link.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            <span
                              {%- if link.current %}
                                class="header__active-menu-item"
                              {% endif %}
                            >
                              {{- link.title | escape -}}
                            </span>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>

                  <li style="grid-column: span 4;">
                    <span
                      id="HeaderMenu-{{ forloop.index }}-3"
                      class="mega-menu__link mega-menu__link--level-2 link"
                    >
                      {{ block.settings.third_linklist_title | escape }}
                    </span>
                    <ul class="list-unstyled" role="list">

                      <ul
                        id="predictive-search-results-products-list"
                        class="predictive-search__results-list list-unstyled"
                        role="group"
                        aria-labelledby="predictive-search-products"
                      >
                        {% for product in block.settings.product_list %}
                          <li
                            id="predictive-search-option-product-{{ forloop.index }}"
                            class="predictive-search__list-item"
                            role="option"
                            aria-selected="false"
                          >
                            <a
                              href="{{ product.url }}"
                              class="predictive-search__item predictive-search__item--link-with-thumbnail link link--text"
                              tabindex="-1"
                            >
                              {%- if product.featured_media != blank -%}
                                <img
                                  class="predictive-search__image"
                                  src="{{ product.featured_media | image_url: width: 150 }}"
                                  alt="{{ product.featured_media.alt }}"
                                  width="100"
                                  height="{{ 100 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                                >
                              {%- endif -%}
                              <div class="predictive-search__item-content{% unless settings.predictive_search_show_vendor or settings.predictive_search_show_price %} predictive-search__item-content--centered{% endunless %}">
                                {%- if settings.predictive_search_show_vendor -%}
                                  <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                                  <div class="predictive-search__item-vendor caption-with-letter-spacing">
                                    {{ product.vendor }}
                                  </div>
                                {%- endif -%}
                                <p class="predictive-search__item-heading h5">{{ product.title | escape }}</p>
                                {%- if settings.predictive_search_show_price -%}
                                  {% render 'price', product: product, use_variant: true, show_badges: false %}
                                {%- endif -%}
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>

                    </ul>
                  </li>
                </ul>
              </div>
            </details>
          </header-menu>
        {% when 'link' %}
          <li>
            <a
              href="{{ block.settings.link }}"
              class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
                style="font-size: 2.1rem;color: {{ block.settings.text_color }};letter-spacing: 0px;"
              >
                {{- block.settings.linklist_title | escape -}}
              </span>
            </a>
          </li>
      {% endcase %}
    {% endfor %}
  </ul>
</nav>
